@import "tailwindcss";

@theme {
  --color-bg: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e2e8f0;
  --color-primary: #2563eb;
  --color-hover: #1d4ed8;
  --color-light: #eff6ff;
  --color-text-main: #111111;
  --color-text-secondary: #64748b;
  --color-success: #16a34a;
  --color-error: #dc2626;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

/* .fade-enter-active {
  transition: all 0.25s ease;
}

.fade-leave-active {
  transition: all 0.25s ease;
  position: absolute;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-move {
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
} */
